<tr>
  <td rowspan="3"><%= item.name %> </td>
  <td>納品</td>
  <% 14.times do |i| %>
    <td><%= "fuga" %></td>
  <%end%>
  <tr>
    <td>使用</td>
    <% 14.times do |i| %>
      <td><%= "fuga" %></td>
    <%end%>
  </tr>
  <tr><td>在庫</td>
    <% 14.times do |i| %>
      <td><%= "fuga" %></td>
    <%end%>
  </tr>    
</tr>