<tr>
  <td rowspan="3" class="item_name"><%= item.name %> </td>
  <td>納品</td>
  <% 14.times do |i| %>
    <td class="order_colmun"><%= "fuga" %></td>
  <%end%>
  <tr>
    <td>使用</td>
    <% 14.times do |i| %>
      <td class="use_colmun"><%= "fuga" %></td>
    <%end%>
  </tr>
  <tr><td>在庫</td>
    <% 14.times do |i| %>
      <td class="stock_colmun"><%= "fuga" %></td>
    <%end%>
  </tr>    
</tr>