.wrapper{
  height: 100px;
  width: 100vw;
  background-color: #17a2b8;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  position: relative;
}
.top_logo{
  height: 70px;
  margin: 0 15px;
  
}
.top_messages{ 
}
.top_message{
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.top_links{
  position: absolute;
  right: 0px;
  margin: 0 20px;
}
.top_link{
  color: white;
  margin-left: 10px;
  font-size: 22px;
}
.flash_message{
  width:100vw;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0 5px;
  float: left;
  background-color:#afeeee;
  color: white;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .header_content{
    display: flex;
  }
}