.change_wrapper{
  text-align: right;
}

table{
  width: 100%;
  text-align: center;
}
th,td{
  width: 5vw;
  border:solid 2px lightgray;
}
.month_field{
  font-size: 24px;
}
.item_name{
  width: 10vw;
}
.order_colmun{
  background-color: rgb(231, 231, 231);
}
.use_colmun{
  background-color: whitesmoke;
}

.item_setting{
  display: flex;
}
.fieid_size{
width: 60px;
}
.btn_setting1{
  height: 100%;
  width: 46px;
  margin-left: 20px;
}
.new_wrapper{
  margin-top: 40px;
  text-align: right;
}
.new{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  
}
.new_field{
  margin: 0 20px 10px 0;
}
.new_item_field{
  width: 170px;
  border: 2px solid lightgray;
  border-radius: 6px;
}
.new_margin_field{
  width: 170px;
  border: 2px solid lightgray;
  border-radius: 6px;
}
.btn_setting2{
  height: calc(100% - 10px);
}
.destroy{
  margin: 30px 0 0 0;
  text-align: right;
}
.collection_select{
  width: 170px;
  border: 2px solid lightgray;
  border-radius: 6px;
}
.btn_destroy{
  margin-left: 16px;
}

.comment_btn{
  font-size: 18px;
}