<div class="sales_wrapper">
  <h1>セールスプラン登録</h1>
    <p>2ヶ月分のセールスプランを登録してください。</p>
    <p>変更があった場合は必要箇所を変更後、再度登録ボタンを押してください。</p>
  <div class="sales_plans">
    <% 2.times do |i| %>
      <div class="sales_plan">
        <%= render partial:"sales_plan",locals:{num:i} %>
      </div>
    <%end%>
  </div>
</div>