<div class="sales_plans">

  <div class="sales_plan">
      <% @num = 0 %>
    <%= render partial:"sales_plan",locals:{num:@num,repeat:@repeat,j:@j} %>
  </div>

  <div class="sales_plan">
      <% @num = 1 %>
    <%= render partial:"sales_plan",locals:{num:@num,repeat:@repeat,j:@j} %>
  </div>

</div>